type: bluemix
server:
  displayName: United Kingdom
  name: eu-gb
  host: eu.apiconnect.ibmcloud.com
org:
  id: 5b27db1d0cf2176919da2bc7
  name: masalinasgancedogmailcom-dev
  displayName: masalinas.gancedo@gmail.com (dev)
  orgType: apiProvider
  status: active
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
  url: 'https://eu.apiconnect.ibmcloud.com/v1/orgs/5b27db1d0cf2176919da2bc7'
  externalOrgId: c809ec5a-17c2-4935-ba17-44b5bed1f8ad
  externalInviteOverride: 'https://console.bluemix.net/apis/catalog/invitation?env_id=ibm:yp:eu-gb'
  externalSpaceId: c809ec5a-17c2-4935-ba17-44b5bed1f8ad
  externalNativeOrgId: fb9574e9-ce4f-420e-bf66-57e43ab8c309
  bluemix:
    inviteUri: 'https://console.bluemix.net/apis/catalog/invitation?env_id=ibm:yp:eu-gb'
    organization: fb9574e9-ce4f-420e-bf66-57e43ab8c309
    space: c809ec5a-17c2-4935-ba17-44b5bed1f8ad
catalog:
  id: 5b27db1e0cf2176919da2bd3
  orgId: 5b27db1d0cf2176919da2bc7
  name: Sandbox
  shortName: sb
  owner:
    id: 5b27db1d0cf2176919da2bc4
    username: masalinas.gancedo@gmail.com
    context: apimanager
    idpId: 58335d5ed20e47053bf50fd0
    email: masalinas.gancedo@gmail.com
    firstName: ''
    lastName: ''
    status: ACTIVE
    lastLoginTime: '2018-08-27T10:56:38.491+0000'
    url: 'https://eu.apiconnect.ibmcloud.com/v1/users/5b27db1d0cf2176919da2bc4'
  apiCenter: false
  portalType: ADVANCED
  portalUrl: 'https://developer.eu.apiconnect.ibmcloud.com/masalinasgancedogmailcom-dev/sb'
  customPortalUrl: 'https://developer.eu.apiconnect.ibmcloud.com/masalinasgancedogmailcom-dev/sb'
  advPortalUrl: 'https://sb-masalinasgancedogmailcom-dev.developer.eu.apiconnect.ibmcloud.com'
  gatewayType: DataPowerGateway
  gwServices:
    - id: PRODAPIC_APIMGMT_GATEWAY
      endpointUrl: 'https://api.eu.apiconnect.ibmcloud.com/masalinasgancedogmailcom-dev/sb'
  idp: 5b27db1f0cf2176919da2bd4
  idps:
    - 5b27db1f0cf2176919da2bd4
  availableRoles:
    - viewer
    - developer
  default: false
  autoDeploy: true
  restrictedDeployment: false
  invitationEnabled: true
  selfSignUpEnabled: true
  spaceEnabled: false
  spaceIds:
    - 5b27db200cf2176919da2bdc
  testAppEnabled: true
  testAppCredentials:
    clientId: 41bdf2e8-e427-496d-bad7-8e45bcf4b816
    clientSecret: lI2fK5xL6sF1qL6bO7jY8eB5iJ7aB5rU8yE8wP6gD8kE3xO7gX
  createdAt: '2018-06-18T16:17:35.543+0000'
  updatedAt: '2018-06-20T12:56:56.246+0000'
  createdBy: apim-ops@wwpdl.vnet.ibm.com
  updatedBy: masalinas.gancedo@gmail.com
  url: >-
    https://eu.apiconnect.ibmcloud.com/v1/orgs/5b27db1d0cf2176919da2bc7/environments/5b27db1e0cf2176919da2bd3
  applicationLifecycleEnabled: false
  productDeploymentApprovalRequiredStates: []
  orgName: masalinasgancedogmailcom-dev
space:
  none: true
app:
  metadata:
    guid: 3855f7ad-2e33-412a-85bb-80f4b3d8be33
  entity:
    guid: 3855f7ad-2e33-412a-85bb-80f4b3d8be33
    name: apic-training-api
    routes:
      - guid: d63a1d55-658e-4706-896b-8f0dd380fdc4
        host: apiconnect-3855f7ad-2e33-412a-85bb-80f4b3d8be33
        port: null
        path: ''
        domain:
          guid: baba1761-bf30-4301-9440-b5da01e5c3af
          name: masalinasgancedogmailcom-dev.apic.eu-gb.mybluemix.net
    running_instances: 0
    services: []
    available_domains:
      - guid: baba1761-bf30-4301-9440-b5da01e5c3af
        name: masalinasgancedogmailcom-dev.apic.eu-gb.mybluemix.net
        owning_organization_guid: fb9574e9-ce4f-420e-bf66-57e43ab8c309
      - guid: 4569bbfb-597c-489b-b516-854f5546350f
        name: apic.eu-gb.mybluemix.net
        router_group_guid: null
        router_group_type: null
      - guid: 75049093-13e9-4520-80a6-2d6fea6542bc
        name: eu-gb.mybluemix.net
        router_group_guid: null
        router_group_type: null
    production: false
    space_guid: c809ec5a-17c2-4935-ba17-44b5bed1f8ad
    stack_guid: 423dd340-c07e-44c2-b7fb-601c10fd32d3
    buildpack: null
    detected_buildpack: 'SDK for Node.js(TM) (ibm-node.js-6.14.3, buildpack-v3.21-20180628-1258)'
    detected_buildpack_guid: 5e3376f0-739b-4132-bdad-52ba688ab043
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STOPPED
    version: 33f3ae8a-223f-4699-b735-0cbf9b5bc4b0
    command: null
    console: true
    debug: null
    staging_task_id: ab1dc989-5a82-4e1c-9130-6385ba843a6c
    package_state: PENDING
    health_check_type: port
    health_check_timeout: null
    health_check_http_endpoint: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: true
    docker_image: null
    package_updated_at: '2018-08-27T18:52:23Z'
    detected_start_command: ./vendor/initial_startup.rb
    enable_ssh: true
    ports: null
id: 187ebf2d-e2c2-45c5-996e-0ad601556182
target: 1.0.0
versionOptions:
  inplaceUpdate: true
publishApp: true
publishProducts: true
specificProducts: true
workspaceDir:
  name: apic-training-api
  path: /home/miguel/Proyectos/Formacion/API Connect/Sources/apic-training-api
  id: 1
  displayName: apic-training-api
  type: project
  projectType: loopback
