type: bluemix
server:
  displayName: United Kingdom
  name: eu-gb
  host: eu.apiconnect.ibmcloud.com
org:
  id: 5b27db1d0cf2176919da2bc7
  name: masalinasgancedogmailcom-dev
  displayName: masalinas.gancedo@gmail.com (dev)
  orgType: apiProvider
  status: active
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
  url: 'https://eu.apiconnect.ibmcloud.com/v1/orgs/5b27db1d0cf2176919da2bc7'
  externalOrgId: c809ec5a-17c2-4935-ba17-44b5bed1f8ad
  externalInviteOverride: 'https://console.bluemix.net/apis/catalog/invitation?env_id=ibm:yp:eu-gb'
  externalSpaceId: c809ec5a-17c2-4935-ba17-44b5bed1f8ad
  externalNativeOrgId: fb9574e9-ce4f-420e-bf66-57e43ab8c309
  bluemix:
    inviteUri: 'https://console.bluemix.net/apis/catalog/invitation?env_id=ibm:yp:eu-gb'
    organization: fb9574e9-ce4f-420e-bf66-57e43ab8c309
    space: c809ec5a-17c2-4935-ba17-44b5bed1f8ad
catalog:
  id: 5b39f8970cf2176919e43736
  orgId: 5b27db1d0cf2176919da2bc7
  name: Production
  shortName: production
  owner:
    id: 5b27db1d0cf2176919da2bc4
    username: masalinas.gancedo@gmail.com
    context: apimanager
    idpId: 58335d5ed20e47053bf50fd0
    email: masalinas.gancedo@gmail.com
    firstName: ''
    lastName: ''
    status: ACTIVE
    lastLoginTime: '2018-08-25T17:34:30.576+0000'
    url: 'https://eu.apiconnect.ibmcloud.com/v1/users/5b27db1d0cf2176919da2bc4'
  apiCenter: false
  portalType: ADVANCED
  portalUrl: >-
    https://developer.eu.apiconnect.ibmcloud.com/masalinasgancedogmailcom-dev/production
  customPortalUrl: >-
    https://developer.eu.apiconnect.ibmcloud.com/masalinasgancedogmailcom-dev/production
  advPortalUrl: >-
    https://production-masalinasgancedogmailcom-dev.developer.eu.apiconnect.ibmcloud.com
  gatewayType: DataPowerGateway
  gwServices:
    - id: PRODAPIC_APIMGMT_GATEWAY
      endpointUrl: >-
        https://api.eu.apiconnect.ibmcloud.com/masalinasgancedogmailcom-dev/production
  idp: 56f453730cf2d1a4f061b837
  idps:
    - 56f453730cf2d1a4f061b837
  availableRoles:
    - viewer
    - developer
  default: false
  autoDeploy: true
  restrictedDeployment: false
  invitationEnabled: true
  selfSignUpEnabled: true
  spaceEnabled: false
  spaceIds:
    - 5b39f8980cf2176919e4373e
  testAppEnabled: true
  testAppCredentials:
    clientId: 0564edb9-bb46-4dba-87be-dd83b936ddf0
    clientSecret: eW1bF0yE3gT5wQ6vQ6hH8jV5oF2nH3wS1nS8dX2sA4hS0pI8iP
  createdAt: '2018-07-02T10:04:08.931+0000'
  updatedAt: '2018-07-02T10:23:51.166+0000'
  createdBy: masalinas.gancedo@gmail.com
  updatedBy: masalinas.gancedo@gmail.com
  url: >-
    https://eu.apiconnect.ibmcloud.com/v1/orgs/5b27db1d0cf2176919da2bc7/environments/5b39f8970cf2176919e43736
  applicationLifecycleEnabled: false
  productDeploymentApprovalRequiredStates: []
  orgName: masalinasgancedogmailcom-dev
space:
  none: true
app:
  metadata:
    guid: b115e25b-52de-4535-875e-226c20f90a8d
  entity:
    guid: b115e25b-52de-4535-875e-226c20f90a8d
    name: apic-training-api
    routes:
      - guid: b4fe4765-99ef-46be-a274-f4519e423fd1
        host: apiconnect-b115e25b-52de-4535-875e-226c20f90a8d
        port: null
        path: ''
        domain:
          guid: baba1761-bf30-4301-9440-b5da01e5c3af
          name: masalinasgancedogmailcom-dev.apic.eu-gb.mybluemix.net
    running_instances: 0
    services: []
    available_domains:
      - guid: baba1761-bf30-4301-9440-b5da01e5c3af
        name: masalinasgancedogmailcom-dev.apic.eu-gb.mybluemix.net
        owning_organization_guid: fb9574e9-ce4f-420e-bf66-57e43ab8c309
      - guid: 4569bbfb-597c-489b-b516-854f5546350f
        name: apic.eu-gb.mybluemix.net
        router_group_guid: null
        router_group_type: null
      - guid: 75049093-13e9-4520-80a6-2d6fea6542bc
        name: eu-gb.mybluemix.net
        router_group_guid: null
        router_group_type: null
    production: false
    space_guid: c809ec5a-17c2-4935-ba17-44b5bed1f8ad
    stack_guid: 423dd340-c07e-44c2-b7fb-601c10fd32d3
    buildpack: null
    detected_buildpack: 'SDK for Node.js(TM) (ibm-node.js-6.13.0, buildpack-v3.20.2-20180524-2057)'
    detected_buildpack_guid: 47acc463-6fbb-416c-9156-1278e70c7e42
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STOPPED
    version: 02a872ee-d6ab-467f-9c07-4b471e5980a6
    command: null
    console: true
    debug: null
    staging_task_id: cb9f359f-ba05-439f-8c60-d4baa4e9b6ea
    package_state: PENDING
    health_check_type: port
    health_check_timeout: null
    health_check_http_endpoint: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: true
    docker_image: null
    package_updated_at: '2018-08-26T12:31:34Z'
    detected_start_command: ./vendor/initial_startup.rb
    enable_ssh: true
    ports: null
id: 8a33ffef-ac9d-47f0-ab09-407fccc88a4b
target: 1.0.0
versionOptions:
  inplaceUpdate: true
publishProducts: true
publishApp: true
productStageOnly: false
specificProducts: true
workspaceDir:
  path: /home/miguel/Proyectos/Formacion/API Connect/Sources/apic-training-api
